lab1/lab1_code.bin
lab1/lab1_code.elf
lab1/lab1_code.hex
lab1/lab1_code.lst
lab1/lab1_code.map
lab1/lab1_code.o
lab1/lab1_code.srec
lab1/lab1_code_eeprom.bin
lab1/lab1_code_eeprom.hex
lab1/lab1_code_eeprom.srec
lab2/lab2_code.bin
lab2/lab2_code.elf
lab2/lab2_code.hex
lab2/lab2_code.lst
lab2/lab2_code.map
lab2/lab2_code.o
lab2/lab2_code.srec
lab2/lab2_code_eeprom.bin
lab2/lab2_code_eeprom.hex
lab2/lab2_code_eeprom.srec
lab3-2/lab3.tar.gz
lab3/lab3.ps~
lab3/lab3_code.bin
lab3/lab3_code.elf
lab3/lab3_code.hex
lab3/lab3_code.lst
lab3/lab3_code.map
lab3/lab3_code.o
lab3/lab3_code.srec
lab3/lab3_code_eeprom.bin
lab3/lab3_code_eeprom.hex
lab3/lab3_code_eeprom.srec
lab3-1/
lab4/lab4.ps~
lab4/lab4_code.bin
lab4/lab4_code.elf
lab4/lab4_code.hex
lab4/lab4_code.lst
lab4/lab4_code.map
lab4/lab4_code.o
lab4/lab4_code.srec
lab4/lab4_code_eeprom.bin
lab4/lab4_code_eeprom.hex
lab4/lab4_code_eeprom.srec