lab1/lab1_code.bin
lab1/lab1_code.elf
lab1/lab1_code.hex
lab1/lab1_code.lst
lab1/lab1_code.map
lab1/lab1_code.o
lab1/lab1_code.srec
lab1/lab1_code_eeprom.bin
lab1/lab1_code_eeprom.hex
lab1/lab1_code_eeprom.srec
lab2/lab2_code.bin
lab2/lab2_code.elf
lab2/lab2_code.hex
lab2/lab2_code.lst
lab2/lab2_code.map
lab2/lab2_code.o
lab2/lab2_code.srec
lab2/lab2_code_eeprom.bin
lab2/lab2_code_eeprom.hex
lab2/lab2_code_eeprom.srec
lab3-2/lab3.tar.gz
lab3/lab3.ps~
lab3/lab3_code.bin
lab3/lab3_code.elf
lab3/lab3_code.hex
lab3/lab3_code.lst
lab3/lab3_code.map
lab3/lab3_code.o
lab3/lab3_code.srec
lab3/lab3_code_eeprom.bin
lab3/lab3_code_eeprom.hex
lab3/lab3_code_eeprom.srec
lab3-1/
lab4/lab4.ps~
lab4/*.bin
lab4/*.elf
lab4/*.hex
lab4/*.lst
lab4/*.map
lab4/*.o
lab4/*.srec
lab5/*.d  
lab5/*.o  
lab5/*.map 
lab5/*.lst 
lab5/*.eeprom* 
lab5/*.elf 
lab5/*.hex 
lab5/*.bin   
lab5/*.srec
lab5-1/*.d  
lab5-1/*.o  
lab5-1/*.map 
lab5-1/*.lst 
lab5-1/*.eeprom* 
lab5-1/*.elf 
lab5-1/*.hex 
lab5-1/*.bin   
lab5-1/*.srec
lab5-2/*.d  
lab5-2/*.o  
lab5-2/*.map 
lab5-2/*.lst 
lab5-2/*.eeprom* 
lab5-2/*.elf 
lab5-2/*.hex 
lab5-2/*.bin   
lab5-2/*.srec
lab5slave/*.d  
lab5slave/*.o  
lab5slave/*.map 
lab5slave/*.lst 
lab5slave/*.eeprom* 
lab5slave/*.elf 
lab5slave/*.hex 
lab5slave/*.bin   
lab5slave/*.srec
lab6/*.d  
lab6/*.o  
lab6/*.map 
lab6/*.lst 
lab6/*.eeprom* 
lab6/*.elf 
lab6/*.hex 
lab6/*.bin   
lab6/*.srec
lab6test/*.d  
lab6test/*.o  
lab6test/*.map 
lab6test/*.lst 
lab6test/*.eeprom* 
lab6test/*.elf 
lab6test/*.hex 
lab6test/*.bin   
lab6test/*.srec